{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/home.css" media="screen">
{% endblock %}

{% block body %}
    {{ mainContent|raw }}

    <div id="charity-package">
        <h2>TESTING CHARITY PACKAGE</h2>
        <p>
            I have created a PHP Charity Package that I deployed on packagist.org. More details here: <a href="https://packagist.org/packages/ddauria1/charity-package"></a><br>
            Below it's an example of calling this package
        </p>
    {{ charity|raw }}
    </div>

{% endblock %}